@media (max-width: 1024px) {
    .head-banner, .head-background {
        z-index: 1000;
        position: fixed;
        top: 0;
        max-height: 18vh;
    }

    body {
        padding-top: 100px;
    }

    .menu-opener {
        display: block;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        margin-top: 2vh;
    }

    .head-menu {
        visibility: hidden;
        position: fixed;
        top: 95px;
        right: 100vw;
        width: 100vw;
        min-height: 75%;
        max-height: 75%;
        background-color: #dff3ff;
        overflow: auto;
        transition: transform 0.5s ease-out;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            li {
                background: #dff3ff;

                ul {
                    display: flex;
                }

                &:hover ul {
                    a {
                        margin-left: 10vw;
                    }
                    display: block;
                    position: static;
                }
            }

            a {
                margin-left: 5vw;
                color: #003366;
                font-size: 1.2rem;
                padding: 10px;
                text-align: left;
                position: relative;
            }

            ul {
                li {
                    &:first-child {
                        border: none;
                    }

                    background: #dff3ff;

                    a {
                        text-decoration: none;
                        margin-left: 10vw;
                    }
                }
            }
        }

        &.opened {
            transform: translateX(100vw);
        }
    }

    .equipment {
        margin-left: 5%;
        width: 90%;
    }

    .main-menu {
        margin: 1% 0;
        width: 100%;
    }

    .product-card-container {
        &>.content {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;

            .photo {
                display: flex;
                align-items: center;

                img {
                    max-width: 70%;
                    object-fit: contain;
                }
            }
        }
    }

    .modal {
        left: 0;
        right: 0;
        bottom: -5px;
        top: 10vh;
        border-radius: 2% 2% 0 0;
        grid-template-columns: 1fr;
        grid-template-rows: 55vh auto 1fr;

        .image-slider {
            margin-top: 2rem;

            img {
                max-height: 50vh;
                border-radius: 5% !important;
            }
        }

        .closer {
            position: absolute;
            top: 0;
            right: 1vh;

            img {
                position: relative;
                object-fit: fill;
                width: 3vh;
                height: 3vh;
            }
        }

        .move-buttons-container {
            opacity: 1 !important;

            .move-buttons {
                opacity: 1;

                &:hover {
                    scale: none;
                }
            }
        }
    }

    .slideshow-container {
        min-width: 65vw;
        margin: 0 17.5vw;
    }
}

@media (max-width: 900px) {

    .menu-card {
        margin: 2%;
    }

    .rent-types {
        column-gap: 3vw;
        row-gap: 5vh;

        .rent-type-card {
            width: 45vw;
            height: 45vw;
        }
    }

    .equipment {
        margin-left: 2% !important;
        width: 96% !important;

        .equipment-card {
            padding-left: 2vw;
            padding-right: 2vw;

            img {
                max-width: 25vw;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .rent-lifter-card {
        section {
            display: flex;
            flex-direction: column;

            p {
                margin-top: 0;
            }

            .features {
                align-items: flex-start;
            }

            img {
                object-fit: contain;
            }
        }
    }

    .product-card-container img {
        max-width: 80% !important;
    }
}

@media (max-width: 768px) {
    body {
        padding-top: 8vh !important;
    }

    header {
        .menu-opener {
            margin-top: 0.5rem;

            img {
                max-height: 8vh !important;
            }
        }


        .head-background {
            height: 10vh;
        }

        .head-banner {
            display: grid;
            grid-template-columns: 1fr 50px;
            height: 10vh;

            .head-image {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    display: flex;
                    object-fit: contain;
                    max-height: 8vh;
                }
            }
        }

        .head-menu {
            top: 10vh;
        }

        .phone, .address, .email {
            display: none;
        }
    }

    .rent-type-card-container h2 {
        text-align: left;
        margin: 0 1.5rem 1.5rem !important;
        font-size: 1.2rem;
    }

    .main-header {
        margin: 2rem 0;
    }

    .main-menu {
        position: relative;
        top: 4vh;
    }

    .unordered {
        padding-left: 1.5rem;

        li {
            padding: 0.3rem 4% 0.3rem 0;
        }
    }

    .table-wrapper {
        overflow-x: auto;
        width: 98vw;

        .table {
        }

        .td-photo {

            img {
                max-width: 12em !important;
            }
        }

        .characteristics {
            padding-left: 0.5rem;
        }
    }

    .photos .vertical {
        width: 25%;
    }

    .equipment-card {
        width: 23vw;

        img {
            max-width: 23vw;
        }
    }

    .rent-lifter-card {
        margin: 2rem 5% 1rem 5% !important;
    }

    .product-card-container {
        img {
            min-width: 90% !important;
        }

        h2 {
            font-size: 1.2rem;
        }
    }

    .slideshow-container {
        min-width: 85vw !important;
        margin: 0 7.55vw !important;
    }
}

@media (max-width: 600px) {

    .head-background, .head-banner {
        height: 8vh !important;
    }

    .head-image img {
        max-height: 6vh !important;
    }

    .menu-opener {
        margin-top: 0.1rem;

        img {
            max-height: 6vh !important;
        }
    }

    .head-menu {
        top: 8vh !important;
    }

    .menu-card {
        width: 70%;
        margin-bottom: 2rem !important;
    }

    .page-footer > ul {
        padding: 2%;
        display: grid;
        grid-template-columns: 30% 30% 40%;

        li {
            margin: 3%;
            grid-row: 1;
        }

        a, h3 {
            text-align: center;
        }
    }

    .unordered {
        padding-left: 1.2rem !important;

        li::marker {
            position: relative;
            left: 115px;
        }
    }

    .photos {
        margin: 0 2vw;
        justify-content: space-between;
        column-gap: 2vw;

        img, .vertical {
            width: 30%;
        }
    }

    .rent-type-card {
        width: 80vw !important;
        height: 80vw !important;
        padding: 1rem;

        img {
            width: 80vw !important;
            height: 35vw !important;
        }

        h2 {
            font-size: 1.5rem !important;
        }
    }

    .equipment-card {
        border: none !important;
    }

    .product-card {
        width: 100% !important;

        .photo {
            img {
                max-width: 100% !important;
            }
        }

        .product-card-container .content .text {
            align-items: center;
        }
    }

    .modal {
        top: 5vh !important;
        grid-template-rows: 40vh auto 1fr !important;

        .image-slider img {
            max-height: 35vh !important;
        }
    }
}