body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0;
}

.head-background {
    height: 95px;
    top: 0;
    width: 100%;
    display: block;
    position: relative;
    background: #2767B0;
}

.head-banner {
    display: flex;
    position: absolute;
    left: 5%;
    top: 0;
    width: 90%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.head-image {
    height: 80px;

    &:focus-visible {
        outline: none;
        border: #dff3ff solid 2px;
        border-radius: 5px;
    }

    img {
        height: 100%;
        width: 100%;
    }
}

.address {
    &:focus-visible {
        outline: none;
        border: #dff3ff solid 2px;
        border-radius: 5px;
    }
}

.phone {
    color: white;
    &::before{
        content:url('images/head/phone-icon.png');
        position: relative;
        left: -6px;
        top: 3px;
    }
}

.address {
    color: white;
    text-decoration: none;
    &::before{
        content:url('images/head/address-icon.png');
        position: relative;
        left: -3px;
        top: 1px;
    }
}

.email {
    top: 47px;
    color: white;
    &::before{
        content:url('images/head/email-icon.png');
        position: relative;
        left: -5px;
        top: 3px;
    }
}

.head-menu {
    &.fixed {
        position: fixed;
        top: 0;
    }

    ul {
        table-layout: fixed;
        width: 100%;
        display: table;
        padding: 0;
        margin: 0;

        li {
            display: table-cell;
            background: #003366;
            position: relative;

            &:hover {
                background: #dff3ff;

                a {
                    color: #003366;
                }

                ul {
                    display: block;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    z-index: 9999;
                }
            }
        }

        a {
            display: block;
            padding: 15px;
            color: #fff;
            text-align: center;
            text-decoration: none;
            font-weight: bold;

            &:focus-visible {
                outline: none;
                border: #dff3ff solid 3px;
            }
        }

        ul {
            display: none;

            li {
                display: block;

                &:first-child {
                    border-top: .2em solid #003366;
                }

                a {
                    color: #003366;
                    display: block;
                    padding: 8px 18px;
                    background: #dff3ff;
                    text-align: left;
                    text-decoration: underline;
                    text-decoration-color: rgba(0, 51, 102, 0.7);
                    text-decoration-thickness: .1em;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .head-menu-caret:after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .255em;
        vertical-align: .2em;
        content: "";
        border-top: .35em solid;
        border-right: .35em solid transparent;
        border-bottom: 0;
        border-left: .35em solid transparent;
    }
}

.main-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1% 6%;
    width: 88%;
}

.menu-card {
    display: grid;
    grid-template-rows: 300px 3fr;
    border: 3px solid #003366;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 0 16px 15px;
    margin: 25px;
    width: 35%;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 0;
    }

    ul {
        list-style: none;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0;
        margin: 0 0 0 4%; /* Упрощено */

        li {
            justify-content: left;
            padding: 2% 0;
        }

        li a {
            color: #0056b3;
            text-decoration: none;
            font-weight: bold;
        }
    }
}

.main-h1 {
    text-align: center;
    margin: 2.5rem 0;
    font-weight: bold;
    color: #003366;
}

.equipment-types {
    display: grid;
    margin: 0 2%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.type-card-container {
    color: black;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 150px;
    padding: 16px;
    margin: 0 15px 30px;
    border: 3px solid #003366;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;

    &:visited {
        color: #000;
    }

    &:hover, &:focus {
        background-color: white;
        color: #000;
        transform: scale(1.03);
        border-color: #000;
        box-shadow: none;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h3 {
        text-align: center;
        font-weight: bold;
    }

    img {
        width: 100%;
        height: 150px;
        object-fit: fill;
    }
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin: 0 4%;

    .product-card {
        display: flex;
        width: 50%;
        margin: 0;

        h2 {
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
}

.product-card-container {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100%;
    border: 3px solid #003366;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 0 16px 15px;
    margin: 0 15px 30px;

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            p {
                margin: 3px 7px 3px 0;
            }

            h3 {
                margin: 3px 0 3px;
            }

            button {
                background-color: #0056b3;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                padding: 7px 20px;
                color: #fff;
                cursor: pointer;
                transition: transform 0.3s, background-color 0.3s;

                &:hover, &:focus {
                    transform: scale(1.1);
                    background-color: #003366;
                    outline: none;
                }
            }
        }

        .photo {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            img {
                height: auto;
                width: 100%;
                object-fit: fill;
                border-radius: 2%;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.page-footer {
    background: #2767B0;
    width: 100%;
    margin-top: 5rem;

    > ul {
        display: flex;
        margin: 0;
        padding: 0 5%;
        justify-content: space-between;

        li {
            list-style: none;
            color: #fff;
            padding: 0;
            display: grid;
            grid-template-rows: auto auto;

            &.phones {
                grid-template-rows: 1fr 2fr;

                ul {
                    padding: 0;

                    li {
                        padding-top: 7%;
                    }
                }
            }
        }
    }

    h3 {
        margin-bottom: 0;
        margin-top: 14px;
    }

    a {
        color: #fff;
        text-decoration: none;
    }
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    position: fixed;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    overflow-y: auto;
    grid-template-rows: 1fr;

    .image-slider {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;

        .move-buttons-container {
            opacity: 0;
            transition: opacity 0.5s ease;
        }

        &:hover {
            .move-buttons-container {
                opacity: 1;
                transition: opacity 0.5s ease;
            }
        }
    }

    .modal-image {
        margin: 0 0 0 2%;
        max-width: 96%;
        max-height: 80vh;
        border-radius: 10px;
        object-fit: contain;
    }

    .move-buttons-container {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;
    }

    .dots-container {
        position: absolute;
        bottom: 2.5rem;
        display: flex;
        justify-content: center;
    }

    .dot {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        border-radius: 50%;
        background-color: #003366;
        opacity: 0.5;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .dot.active {
        opacity: 1;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-left: 1rem;

        h2 {
            text-align: center;
            margin-right: 3rem;
            margin-top: 2rem;
        }

        .features {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .feature {
                border: 1px solid #ddd;
                border-left: 4px solid #0056b3;
                padding: 5px 5px 5px 1rem;
                margin: 1.5vh 4rem 1.5vh 1rem;
            }
        }

        h3 {
            text-align: center;
            margin-bottom: 2rem;
        }
    }

    .close-icon {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.2);
        }
    }

    .move-buttons {
        width: 4rem;
        height: 4rem;
        pointer-events: auto;
        background: none;
        border: none;
        padding: 10px;
        margin: 1rem;
        cursor: pointer;
        z-index: 2;
        transition: 0.5s;
        opacity: 0.7;

        &:hover {
            scale: 1.2;
            opacity: 1;
        }

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}

.rent-types {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 1% 6%;
    column-gap: 10vw;
    row-gap: 4vh;

    .rent-type-card {
        border: #003366 7px solid;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 40, 80, 0.5);
        width: 30vw;
        height: 30vw;

        .rent-type-card-container {
            display: grid;
            grid-template-rows: 1fr 1fr;
            height: 100%;
            text-decoration: none;

            img {
                object-fit: fill;
                margin-top: 10%;
                margin-bottom: 2.5%;
                width: 30vw;
                height: 15vw;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h2 {
                    text-align: center;
                    margin: 0 3.5rem 3.5rem;
                    color: black;
                    font-weight: bold;
                }
            }

            &:hover, &:focus {
                outline: none;

                img {
                    transition: 0.3s;
                    transform: scale(1.1);
                }

                h2 {
                    transition: 0.3s;
                    transform: scale(1.05);
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    body {
        font-size: 0.9rem;
    }
    .head-image {
        width: 35%;
    }
    .page-footer > ul > li {
        margin: 1%;
    }

    .page-footer li {
        max-width: 300px;
    }

    .product-card-container .content {
        grid-template-columns: 1fr 1.8fr;
    }
}

@media (max-width: 1125px) {
    header .address {
        display: none;
    }
}

@media (max-width: 1200px) {
    .main-menu {
        margin: 1% 2%;
        width: 96%;
    }

    .menu-card {
        grid-template-rows: 200px 1fr 2fr;
        padding: 8px 16px;
        width: 40%;
    }

    .products {
        margin: 0;
    }

    .product-card-container .content {
        grid-template-columns: 1fr 1.5fr;
    }

    .product-card-container .content .photo {
        justify-content: flex-start;
    }

    .rent-types {
        column-gap: 5rem;
        margin: 0;
    }

    .rent-type-card {
        min-width: 40vw;
        min-height: 40vw;

        img {
            min-width: 40vw;
            min-height: 20vw;
        }
    }
}

@media (min-width: 1600px) {
    body {
        font-size: 1.2rem;
    }
    .type-card-container {
        height: 200px;
    }
    .type-card-container img {
        height: 200px;
    }
}